<header>
  <mat-toolbar color="primary">
    <a mat-button 
      routerLink="/home" 
      routerLinkActive="active">
      <i class="fa fa-home fa-lg"></i>Home
    </a>
    <a mat-button 
      routerLink="/favorites" 
      routerLinkActive="active">
      <i class="fa fa-star fa-lg"></i>Favorites
    </a>
    <a mat-button 
      routerLink="/bookmarks" 
      routerLinkActive="active">
      <i class="fa fa-bookmark fa-lg"></i>Bookmarks
    </a>
    <a mat-button 
      routerLink="/settings" 
      routerLinkActive="active">
      <i class="fa fa-cogs fa-lg"></i>Settings
    </a>
    <a mat-button class="btn-login">
      <i class="fa fa-sign-in fa-lg"></i>Login
    </a>
  </mat-toolbar>
</header>