<div class="content content__movie--details">
  <h2 class="content__title">Details of the movie</h2>

  <ng-container *ngIf="(movie$ | async) as movie">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{movie.title | uppercase}}</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4>genres: {{movie.genres}}</h4>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{BaseImgURL + movie.poster_path}}" alt="{{movie.title}}">
      <mat-card-actions>
        <button mat-icon-button
          *ngIf="movie.favorite"
          aria-label="Button that removes the movie from your collection of favorites">
          <mat-icon aria-label="Favorite movie"
            (click)="favoriteService.deleteFavoriteMovie(movie.id, movie)">star</mat-icon>
        </button>
        <button mat-icon-button
          *ngIf="!movie.favorite"
          aria-label="Button that adds the movie to your collection of favorites">
          <mat-icon aria-label="Favorite movie"
            (click)="favoriteService.addFavoriteMovie(movie.id, movie)">star_border</mat-icon>
        </button>
        <button mat-button class="card__btn--back" (click)="goBack()">BACK</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Primary information about a movie</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <h4 *ngIf="movie.tagline">
            Tagline: {{movie.tagline | lowercase}}
          </h4>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngIf="movie.original_title">
            Original title: {{movie.original_title}}
          </mat-list-item>
          <mat-list-item *ngIf="movie.popularity">
            Popularity: {{movie.popularity}}
          </mat-list-item>
          <mat-list-item *ngIf="movie.production_companies.length">
            Production companies: 
            <div *ngFor="let company of movie.production_companies; let i = index">
              <img *ngIf="company.logo_path && (i < 2)" 
                src="{{BaseImgURL + company.logo_path}}" 
                alt="{{company.name}}"
                class="card__company--logo"
                height="20" 
                matTooltip="{{company.name | uppercase}}">
              <span *ngIf="!company.logo_path && (i < 2)">{{company.name}}</span>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="movie.production_countries.length">
            Production countries: 
            <span *ngFor="let country of movie.production_countries" 
              class="card__country--abbr"
              matTooltip="{{country.name}}">
              {{country['iso_3166_1']}}
            </span>
          </mat-list-item>
          <mat-list-item *ngIf="movie.budget">
            Budget: {{movie.budget | currency}}
          </mat-list-item>
          <mat-list-item *ngIf="movie.release_date">
            Release date: {{movie.release_date | date}}
          </mat-list-item>
          <mat-list-item *ngIf="movie.vote_average">
            Vote average: {{movie.vote_average}}
          </mat-list-item>
          <mat-list-item *ngIf="movie.vote_count">
            Vote count: {{movie.vote_count}}
          </mat-list-item>
          <mat-divider class="card__divider"></mat-divider>
          <mat-list-item *ngIf="movie.overview">
            Overview:
          </mat-list-item>
        </mat-list>
        <p *ngIf="movie.overview">{{movie.overview}}</p>
      </mat-card-content>
    </mat-card>
  </ng-container>

</div>

<!-- RECOMMENDED and SIMILAR movies START -->
<div class="content">
  <ng-container *ngIf="(recommendedMovies$ | async) as movies">
    <app-more-movies 
      [title]="recTitle" 
      [movies]="movies">      
    </app-more-movies>
  </ng-container>
  
  <ng-container *ngIf="(similarMovies$ | async) as movies">
    <app-more-movies 
      [title]="simTitle"
      [movies]="movies">      
    </app-more-movies>
  </ng-container>
</div>
<!-- RECOMMENDED and SIMILAR movies END -->