<div class="recommendations" *ngIf="movies.length">  
  <mat-divider class="recommendations__section--divider"></mat-divider>  
  <h3>{{title}}</h3>

  <mat-grid-list cols="6" rowHeight="150px" gutterSize="1rem" role="list">
    <mat-grid-tile *ngFor="let movie of movies" role="listitem">
      <a [routerLink]="['/moviedetail', movie.id]">
        <img src="{{BaseImgURL + movie.poster_path}}" alt="{{movie.title}}" height="100">
      </a>
      <mat-grid-tile-footer>  
        <h1 matLine>{{movie.title}}</h1>
        <h2 matLine>genres: {{movie.genres}}</h2>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>

</div>