<div class="content">
  <div class="content__title">
    <mat-form-field>
      <input matInput placeholder="movie" #searchField (input)="search(searchField.value)">
      <i class="fa fa-search fa-lg"></i>
    </mat-form-field>
  </div>
  
  
  <ng-container *ngIf="searchField.value; then searchSection; else popularSection"></ng-container>
  
  <ng-template #popularSection>
    <ng-container *ngIf="(popularMovies$ | async) as movies">
      <app-main-page-movies [movies]="movies"></app-main-page-movies>
    </ng-container>
  </ng-template>

  <ng-template #searchSection>
    <ng-container *ngIf="(findMovies$ | async) as movies">
      <app-main-page-movies [movies]="movies"></app-main-page-movies>
    </ng-container>
  </ng-template>
  
  <ng-container *ngIf="(countOfResults$ | async) as count">
    <mat-paginator [length]="count"
      [pageSize]="20"
      [pageSizeOptions]="[20]"
      (page)="pageEvent = handlePaginator($event)">
    </mat-paginator>
  </ng-container>

</div>